body{
  background-color: rgb(5,5,5);
  color: white;
  .main{
  	max-width: 1000px;
  	margin: 0 auto;
    margin-top: 20px;
    div{
      padding: 15px;
      margin: 25px 15px;
      background-color: rgb(30,30,30);
      *{
        margin: 10px;
        padding: 5px;
        background-color: rgb(60,60,60);
      }
      &.pure-g{
        div{
          margin: 0;
          vertical-align: top;
          &.pure-u-1-3{
            text-align: center;
          }
          &.pure-u-2-3{
            border-left: 2px solid black;
          }
        }
      }
      &.about{
        p{
          font-size: 1.5em;
        }
      }
      &.projects{
        margin-bottom: 10px;
      }
      ul{
        li{
          background-color: rgb(90,90,90);
          a{
            color: white;
            padding: 0;
            margin: 0;
            background-color: rgb(90,90,90);
          }
        }
      }
      h2{
        font-style: bold;
        font-size: 30px;
      }
    }
  }
}